IP=127.0.0.1
TABLE_PREFIX=wpma_

# MySQL ------------------------------------------------------------------------
MYSQL_VERSION=latest
MYSQL_DATABASE=wordpress
MYSQL_ROOT_USER=root
MYSQL_ROOT_PASSWORD=password
MYSQL_USER=dev
MYSQL_PASSWORD=password
MYSQL_EXPOSED_PORT=3306

# This file is used to import the database by the command "db-import".
MYSQL_DUMP_FILE=wp-data/dump.sql